@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter&display=swap');

*,
*::before,
*::after {
   box-sizing: border-box;
}

:root {
   --bg-color: rgba(0, 0, 0, 0.9);
   --modal-bg-color: rgba(0, 0, 0, 0.6);
   --fg-color: rgba(252, 236, 214, 1);
   --main-color: rgba(8, 40, 96, 1);
   --accent-color: rgba(252, 55, 91, 1);
   --select-color: rgba(8, 8, 8, 1);
   --inactive-shadow: rgba(0, 0, 0, 0.9);
   --active-shadow: rgba(247, 217, 175, 1);
   --inactive-shadow: rgba(0, 0, 0, 0.9);
   --main-font: 'Fredoka One', cursive;
   --content-font: Inter, sans-serif;
}

body {
   background-color: var(--bg-color);
   color: var(--fg-color);
   font-family: var(--main-font);
   margin: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}

@keyframes fade-in {
   from {
      opacity: 0;
   }

   to {
      opacity: 100%;
   }
}

header {
   background-color: var(--main-color);
   width: 97%;
   margin: 1rem;
   border-radius: 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   animation: fade-in 1s;
}

header > * {
   margin: 1rem 2rem;
   padding: 1rem;
}

.title {
   font-size: 3.6rem;
}

.button,
.radio > input,
.timed > input,
.details > .summary {
   outline-style: none;
}

.button {
   background-color: var(--accent-color);
   color: var(--fg-color);
   font-family: var(--main-font);
   border: none;
   border-radius: 0.5rem;
   padding: 1rem;
   box-shadow: 0 3px 2px 2px var(--inactive-shadow);
   transition: all 0.2s linear, transform 0.1s linear;
}

.button:focus,
.button:hover {
   box-shadow: 0 3px 2px 2px var(--active-shadow);
}

.button:active {
   box-shadow: none;
   transform: translateY(3px);
}

.menu {
   font-size: 1.2rem;
}

main {
   font-size: 2rem;
   width: 90%;
   margin: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.timer {
   visibility: hidden;
   background-color: var(--accent-color);
   width: 100%;
   height: 3px;
   margin: 2rem;
   border-radius: 1px;
   transition: width 0.1s linear;
}

.details {
   visibility: hidden;
   width: 100%;
   border-radius: 0.5rem;
   padding: 1.5rem;
   box-shadow: 0 0 2px 2px var(--active-shadow);
   transition: box-shadow 0.1s ease-in-out;
}

.details > *,
.quick-score,
.detailed-score {
   display: flex;
}

.details > * {
   justify-content: space-between;
}

.basic-config,
.quick-score > p,
.detailed-score > p {
   margin-top: 0;
   margin-bottom: 0;
}

.stats {
   font-size: 1.5rem;
}

.extended-config,
.detailed-score {
   margin-top: 0.5rem;
   margin-bottom: 0;
}

.extended-config {
   margin-right: 1rem;
}

.detailed-score {
   margin-left: 1rem;
}

.quick-score > .correct-label,
.detailed-score > .answered-label {
   margin-right: 0.5rem;
}

.card {
   font-family: var(--content-font);
   width: 100%;
   margin: 5rem;
   border-radius: 1rem;
   padding: 1rem 1rem 4rem 1rem;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   animation: fade-in 1s;
}

.question {
   font-size: 3rem;
}

.answers {
   width: 90%;
   display: flex;
   justify-content: space-evenly;
}

.answer {
   font-size: 1.5rem;
   margin: 1rem;
}

.modal {
   z-index: 1;
   background-color: var(--modal-bg-color);
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   display: none;
   justify-content: center;
   align-items: center;
   overflow: auto;
}

.dialog {
   background-color: var(--main-color);
   font-size: 2rem;
   border-radius: 1rem;
   display: flex;
   flex-direction: column;
}

form.dialog {
   max-width: 800px;
   text-align: justify;
   animation: fade-in 0.5s;
}

form.dialog > * {
   margin: 1rem 4rem;
}

.flavor {
   font-size: 1.25rem;
   padding: 2rem 0.5rem;
}

.category,
.amount {
   display: flex;
}

.category {
   justify-content: space-evenly;
   align-items: center;
}

select,
#amount {
   background-color: var(--select-color);
   color: var(--fg-color);
   font-family: var(--content-font);
}

select {
   font-size: 1.25rem;
}

fieldset {
   background-color: var(--modal-bg-color);
   border-radius: 1rem;
   display: flex;
   justify-content: space-around;
}

.category > label,
.amount > label,
.timed > label,
legend {
   background-color: black;
   border-radius: 0.5rem;
   padding: 0.5rem 1rem;
}

.radio > input,
.timed > input {
   appearance: none;
   width: 1.4rem;
   height: 1.4rem;
   margin-right: 0.5rem;
   border: 3px solid var(--fg-color);
   transition: all 0.2s linear;
}

.radio > input {
   border-radius: 50%;
}

.radio > input:checked {
   border: 11px solid var(--accent-color);
}

.amount {
   justify-content: center;
   align-items: center;
}

.amount > * {
   margin: 0 0.5rem;
}

#amount {
   font-size: 1.5rem;
   max-width: 4ch;
}

.timed {
   display: flex;
   justify-content: center;
   align-items: center;
}

.timed > input {
   border-radius: 25%;
}

.timed > input:checked {
   border: 11px outset var(--accent-color);
}

.options-buttons {
   display: flex;
   justify-content: space-evenly;
}

.options-buttons > button {
   margin: 1rem 0 3rem 0;
}

.reset {
   background-color: var(--bg-color);
   color: var(--accent-color);
   box-shadow: 0 3px 2px 2px var(--accent-color);
}

.reset:hover {
   color: var(--fg-color);
}

div.dialog {
   justify-content: space-around;
   align-items: center;
   animation: fade-in 0.5s;
}

div.dialog > p {
   margin: 3rem;
}

div.dialog > button {
   margin-bottom: 3rem;
}

.gameover {
   text-align: center;
}
